@model IEnumerable<VideoGameModel.Models.VideoGameViewModels.OrderGroup>
@{
    ViewData["Title"] = "Ordered VideoGames Statistics";
}
<h2>Ordered VideoGames Statistics</h2>
<table>
    <tr>
        <th>
            Order Date
        </th>
        <th>
            Ordered VideoGames
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderDate)
            </td>
            <td>
                @item.VideoGameCount
            </td>
        </tr>
    }
</table>